[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "nextGenShinyApps"]
	path = nextGenShinyApps
	url = https://github.com/oobianom/nextgenshinyapps
[submodule "r2dictionary"]
	path = r2dictionary
	url = https://github.com/oobianom/r2dictionary
[submodule "r2resize"]
	path = r2resize
	url = https://github.com/oobianom/r2resize
[submodule "r2shortcode"]
	path = r2shortcode
	url = https://github.com/oobianom/r2shortcode
[submodule "r2social"]
	path = r2social
	url = https://github.com/oobianom/r2social
[submodule "r2symbols"]
	path = r2symbols
	url = https://github.com/oobianom/r2symbols
[submodule "sciRmdTheme"]
	path = sciRmdTheme
	url = https://github.com/oobianom/scirmdtheme
[submodule "shinyStorePlus"]
	path = shinyStorePlus
	url = https://github.com/oobianom/shinystoreplus
[submodule "symbol.equation.gpt"]
	path = symbol.equation.gpt
	url = https://github.com/oobianom/symbol.equation.gpt
