[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "r2dictionary"]
	path = r2dictionary
	url = https://github.com/oobianom/r2dictionary
	shallow = true
	registered = true
[submodule "r2resize"]
	path = r2resize
	url = https://github.com/oobianom/r2resize
	shallow = true
	registered = true
[submodule "r2symbols"]
	path = r2symbols
	url = https://github.com/oobianom/r2symbols
	shallow = true
	registered = true
[submodule "r2social"]
	path = r2social
	url = https://github.com/oobianom/r2social
	shallow = true
	registered = true
[submodule "nextGenShinyApps"]
	path = nextGenShinyApps
	url = https://github.com/oobianom/nextgenshinyapps
	shallow = true
	registered = true
[submodule "r2shortcode"]
	path = r2shortcode
	url = https://github.com/oobianom/r2shortcode
	shallow = true
	registered = true
[submodule "sciRmdTheme"]
	path = sciRmdTheme
	url = https://github.com/oobianom/scirmdtheme
	shallow = true
	registered = true
[submodule "shinyStorePlus"]
	path = shinyStorePlus
	url = https://github.com/oobianom/shinystoreplus
	shallow = true
	registered = true
